/* tutorial: https://www.youtube.com/watch?v=5hIsf3kfQOM&t=1s */

.breadcrumb {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .breadcrumb li{
    display:inline;
  }
  
  .breadcrumb li.location+li.location::before {
      content:" / ";
  }
  
  .breadcrumb li.location a:hover{
    color:purple;
    text-decoration: underline;
  }
  
  .breadcrumb li.attribute a{
    color:gray;
    margin-left: 10px;
  }
  
  .breadcrumb li.attribute::after{
    content: "*";
    vertical-align: super;
    color:grey;
  }
  
  .breadcrumb li.attribute a:hover{
    color: green;
    
  }

/* elements below this line are unrelated to the breadcrumbs */