header {
    background-image: url(images/pattern.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    color:khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin: 0px 67px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
}

.brush {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    color:blue;
}