.font-family-1 {
    font-family: 'Courier New', Courier, monospace;
}
.font-family-2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-family-3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font-family-4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-family-5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-family-6 {
    font-family:'Times New Roman', Times, serif;
}
.font-family-7 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font-family-8 {
    font-family:Arial, Helvetica, sans-serif;
}
.font-family-9 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.font-family-10 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.font-family-11 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.font-family-12 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.font-family-13 {
    font-family:cursive;
}
.font-family-14 {
    font-family:fantasy;
}
.font-family-15 {
    font-family:monospace;
}
.font-family-16 {
    font-family:sans-serif;
}
.font-family-17 {
    font-family:serif;
}
.font-family-18 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

font-style-1 {
    font-style:italic;
}
font-style-2 {
    font-style:oblique;
}
font-style-2 {
    font-variant: small-caps;
}
font-style-2 {
    font-;
}